/*!
 *   AdminLTE v2.4.0
 *   Author: Almsaeed Studio
 *  RTL[ED] By : Akram Ahmed
 *  Company : IT4DS Co.
 *  website : www.it4ds.com.eg 
 */
 /*@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*/
@font-face {
    font-family: 'Conv_GESSTwoLight';
    src: url('../font/GESSTwoLight.eot');
    src: local('?'), url('../font/GESSTwoLight.woff') format('woff'), url('../font/GESSTwoLight.ttf') format('truetype'), url('../font/GESSTwoLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    /*direction: rtl;*/
    height: 100%;
    font-family: 'Conv_GESSTwoLight','Droid Arabic Kufi', sans-serif;
}
.layout-boxed html,
.layout-boxed body {
  /*direction: rtl;*/
  height: 100%;
}

.main-header .logo img {
    text-align: center;
    max-height: 50px;
}
/* Header */
@media (min-width: 768px) {
.main-header .logo {
    float: right;
}
}
/* navbar */
.main-header .navbar {
	-webkit-transition: margin-right .3s ease-in-out;
	-o-transition: margin-right .3s ease-in-out;
	transition: margin-right .3s ease-in-out;
	margin-right: 230px;
    margin-left:0px!important;
}

.layout-top-nav .main-header .navbar {
  margin-right: 0;
}
.main-header .sidebar-toggle {
	float: right;
}
.main-header .navbar-custom-menu, 
.main-header .navbar-right {
    float: left;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	left: 0;
	right: auto;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
	left: 0;
    right: 100%;
}

/* Setting SideBar */
.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
	left: 0!important;
    right: auto;
    margin: 10px 0px;
    padding: 35px 10px;
}
.control-sidebar-bg, .control-sidebar {
	left: -230px;
	-webkit-transition: left .3s ease-in-out;
	-o-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
.control-sidebar-menu .menu-icon {
	float: right;
}
.control-sidebar-menu .menu-info {
	margin-right: 45px;
}

/* Side Bar */
.main-sidebar {
    right:0;
    left:auto;
}

.sidebar-menu li > a > .pull-right-container {
	left: 10px;
}
.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
	margin-left: 10px;
    margin-right: 0px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	margin-right: 0;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	right: 50px;
    left: auto;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
	margin-right: -3px;
	padding: 12px 20px 12px 5px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
	float: left;
	right: 180px !important;
}
.treeview-menu {
	padding: 0;
	padding-right: 5px;
}
.treeview-menu .treeview-menu {
	padding-right: 20px;
    padding-left: 0px;
}
/* Main Contenar */
.content-wrapper, 
.main-footer{
    margin-right:230px;
    margin-left: 0px!important;
}

.content-header {
	padding: 15px 15px ;
	/*height: 35px;*/
}
.content-header > h1 {
	margin: 0;
	font-size: 24px;
}
.content-header > h1 > small {
	font-size: 15px;
	display: inline-block;
	padding-right: 4px;
	font-weight: 300;
}

.content-header > .breadcrumb {
  float: left;
  position: absolute;
  top: 15px;
  left: 10px;
  right: auto;
}

.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-left: 5px;
}

.small-box .icon {
    right: auto;
	left: 10px;
}

.nav-tabs-custom > .nav-tabs.pull-right {
	/*float: left!important;*/ 
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
	float: left;
}

.box-header > .box-tools {
	right: auto;
	left: 10px;
}

.todo-list > li .tools {
	float: left;
}

.chat .item > .message {
	margin-right: 55px;
}
.users-list > li {
    float:right!important;
}
/* Skin */
.skin-aqua .sidebar-menu > li.active > a {
	border-right-color: #dd4b39;
}
.skin-aqua .sidebar-menu > li > a {
	border-right: 3px solid transparent;
    border-left: 0px solid transparent!important;
}
.skin-black .sidebar-menu > li.active > a {
	border-right-color: #dd4b39;
}
.skin-black .sidebar-menu > li > a {
	border-right: 3px solid transparent;
    border-left: 0px solid transparent!important;
}

.skin-black-light .sidebar-menu > li.active > a {
	border-right-color: #dd4b39;
}
.skin-black-light .sidebar-menu > li > a {
	border-right: 3px solid transparent;
    border-left: 0px solid transparent!important;
}
/**/

/* All Media */
@media (max-width: 767px) {
  .content-wrapper,
  .main-footer {
    margin-right: 0!important;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer {
    margin-right: 0!important;
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .main-footer {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (max-width: 767px) {
  .main-header .navbar-right {
    float: right;
  }
}
@media (max-width: 1991px) {
  .content-header > .breadcrumb {
    position: relative;
    top: 0;
    left: 0;
    right:auto;
    float: none;
    background: #d2d6de;
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav > li {
    float: right;
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: right;
  }
}
@media (max-width: 767px) {
  .main-header .logo,
  .main-header .navbar {
    width: 100%;
    float: none;
  }
  .main-header .navbar {
    margin: 0;
  }
  .main-header .navbar-custom-menu {
    float: left;
  }
}
@media (max-width: 991px) {
  .navbar-collapse.pull-left {
    float: none !important;
  }
  .navbar-collapse.pull-left + .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    right:auto;
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-right: 50px !important;
    margin-left: 0px !important;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    border-top-left-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-left-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-bottom-left-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-right: 50px;
  }
}

@media (min-width: 768px) {
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-left: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}
@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: left;
  }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    left: 5%;
    right: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: right;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .error-page > .headline {
    float: none;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .error-page > .error-content {
    margin-right: 0;
  }
}

/* */
.control-sidebar-heading {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
}
.control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}