@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?472h8h');
  src:  url('../../../fonts/icomoon.eot?472h8h#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?472h8h') format('truetype'),
    url('../../../fonts/icomoon.woff?472h8h') format('woff'),
    url('../../../fonts/icomoon.svg?472h8h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 32px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Artboard-8:before {
  content: "\e900";
  color: #fff;
}
.icon-Artboard-9:before {
  content: "\e901";
  color: #eaeaea;
}
.icon-Artboard-10:before {
  content: "\e902";
  color: #eaeaea;
}
.icon-Artboard-11:before {
  content: "\e903";
  color: #fff;
}
.icon-Artboard-12:before {
  content: "\e904";
  color: #fff;
}
.icon-Artboard-13:before {
  content: "\e905";
  color: #fff;
}
.icon-Artboard-14:before {
  content: "\e906";
  color: #fff;
}
.icon-Artboard-15:before {
  content: "\e907";
  color: #fff;
}
.icon-Artboard-16:before {
  content: "\e908";
  color: #fff;
}
.icon-Artboard-17:before {
  content: "\e909";
  color: #fff;
}
.icon-Artboard-18 .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-Artboard-18 .path2:before {
  content: "\e90b";
  margin-left: -1.04296875em;
  color: rgb(221, 75, 57);
}
.icon-Artboard-19:before {
  content: "\e90c";
}
.icon-Artboard-20 .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-Artboard-20 .path2:before {
  content: "\e90e";
  margin-left: -1.04296875em;
  color: rgb(23, 138, 224);
}
.icon-Artboard-21:before {
  content: "\e90f";
  color: #dd4b39;
}
.icon-Artboard-22:before {
  content: "\e910";
}
.icon-Artboard-23:before {
  content: "\e911";
}
.icon-Artboard-24 .path1:before {
  content: "\e912";
  color: rgb(0, 170, 188);
}
.icon-Artboard-24 .path2:before {
  content: "\e913";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path3:before {
  content: "\e914";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path4:before {
  content: "\e915";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path5:before {
  content: "\e916";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path6:before {
  content: "\e917";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path7:before {
  content: "\e918";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path8:before {
  content: "\e919";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path9:before {
  content: "\e91a";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path10:before {
  content: "\e91b";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path11:before {
  content: "\e91c";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path12:before {
  content: "\e91d";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path13:before {
  content: "\e91e";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path14:before {
  content: "\e91f";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path15:before {
  content: "\e920";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path16:before {
  content: "\e921";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-24 .path17:before {
  content: "\e922";
  margin-left: -3.1201171875em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path1:before {
  content: "\e923";
  color: rgb(0, 170, 188);
}
.icon-Artboard-25 .path2:before {
  content: "\e924";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path3:before {
  content: "\e925";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path4:before {
  content: "\e926";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path5:before {
  content: "\e927";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path6:before {
  content: "\e928";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path7:before {
  content: "\e929";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path8:before {
  content: "\e92a";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path9:before {
  content: "\e92b";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-25 .path10:before {
  content: "\e92c";
  margin-left: -0.994140625em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-26 .path1:before {
  content: "\e92d";
  color: rgb(0, 170, 188);
}
.icon-Artboard-26 .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-26 .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-26 .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-26 .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path1:before {
  content: "\e932";
  color: rgb(247, 99, 99);
}
.icon-Artboard-27 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-27 .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-28 .path1:before {
  content: "\e93a";
  color: rgb(255, 187, 67);
}
.icon-Artboard-28 .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-28 .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 187, 67);
}
.icon-Artboard-28 .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-28 .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 187, 67);
}
.icon-Artboard-28 .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-28 .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(160, 161, 163);
}
.icon-Artboard-28 .path8:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-28 .path9:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-29 .path1:before {
  content: "\e943";
  color: rgb(0, 170, 188);
}
.icon-Artboard-29 .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-29 .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-29 .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-30 .path1:before {
  content: "\e947";
  color: rgb(255, 255, 255);
}
.icon-Artboard-30 .path2:before {
  content: "\e948";
  margin-left: -1.0595703125em;
  color: rgb(234, 8, 3);
}
.icon-Artboard-30 .path3:before {
  content: "\e949";
  margin-left: -1.0595703125em;
  color: rgb(255, 255, 255);
}
.icon-Artboard-31 .path1:before {
  content: "\e94a";
  color: rgb(0, 170, 188);
}
.icon-Artboard-31 .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user-tie:before {
  content: "\e976";
}

body.lockscreen {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}
body.lockscreen {
  background: url(../../../pos-backs/background_0.jpg);
}
div.col-md-12.pos-header {
  color: #fff;
  text-shadow: 1px 1px 1px #222;
  padding: 0 25px;
  font-size: 19px;
}
.category-btn {
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.ltr-dir {
  direction: ltr;
}
.time-header {
  margin: 0 15px;
}
.product_box .image-container img, .product_box .text  {
  transition: width 1s, height 1s, transform 1s;
}
/*.product_box:hover .image-container img {
  width: 88px;
  height: 88px;
}
.product_box:hover .text {
  font-size: 120%;
  margin-top: 5px;
}*/
span.logo-lg img {
  height: 50px;
}
.actions-pos button {
  font-size: 18px;
  padding: 15px 5px;
}
.dine-in , .drive-thru i, .delivery i {
  /* color: #dd4b39; */
}
.drive-thru i {
  color: #ff851b;
}
.delivery i {
  /* color: #538305; */
}
.none {
  display: none;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
div#change-back {
  margin-left: 1%;
  overflow: hidden;
}
div#change-back i {
  background: #fff;
  padding: 5px;
  box-shadow: 3px 3px 1px #584e4baa;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
.col-md-12.col-sm-12 .box {
  box-shadow: 0px 1px 2px #584e4baa;
}
footer b {
  background: #ffffffcf;
  padding: 0 10px;
  border-radius: 10px;
  margin-bottom: 2px;
}
body {
  font-size: 12px;
}
.vcenter  {
  display: flex;
  align-items: center;
}
h2.ta-icon {
  margin-bottom: 20px;
}
.ta-icon {
  cursor: pointer;
}
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
button.btn-number {
  border-radius: 25% !important;
}
.modifier-panel label.btn.bg-grey {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.modifier-panel .btn-group {
  width: 100%;
}
.add-pos-row-description {
  font-size: 25px !important;
  float: right;
}
i {
  font-size: 21px !important;
}
ul#pos_details {
  list-style: none;
  padding: 10px;
}
ul.sidebar-menu>li>a>.fa, ul.sidebar-menu>li>a>.glyphicon, ul.sidebar-menu>li>a>.ion ,
ul.sidebar-menu .treeview-menu>li>a>.fa, ul.sidebar-menu .treeview-menu>li>a>.glyphicon, ul.sidebar-menu .treeview-menu>li>a>.ion
{
  width: 30px;
}
.charts {
  direction: ltr;
}
.mar-top {
  margin-top: 5px;
}
button.category-btn {
  padding: 10px 0;
  border-bottom: 1px solid #3339;
  box-shadow: 1px 0px 3px #dbd3d3e6;
  margin: 0 -3px;
}
#calculator button {
  background: #999;
}
div#product_list_body {
  min-height: 40.5vh;
}
div.product_box .text {
  max-height: 18px;
}
div.pos_product_div {
  min-height: 35vh;
  max-height: 35vh;
}
.recent-trans {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 9999999999999;
  width: 95%;
}
button.navbar-toggle {
  color: #1f1d1d;
}
p.table-st {
  padding: 20px;
  background: url(/img/table.png);
  background-size: cover;
  margin-right: 25px;
}
p.table-st {
  padding: 20px;
  background: url(/img/table.png);
  background-size: contain;
  margin: 5px 10px 20px;
  display: inline-block;
  width: 60px;
  color: #fff;
  opacity: .5;
  background-color: green;
  cursor: pointer;
  text-align: center;
}
p.table-st.active {
  border: 1px solid #511c134a;
  border-radius: 50%;
  opacity: 1;
}
p.table-booked {
  background-color: red;
  pointer-events: none;
  opacity: .5;
}
.recent-transactions.box {
  margin: 0;
}
#datetimepicker12 {
  background: #f7f7f7;
}
.party-screen div.pos_product_div {
  max-height: 30vh;
}
.actions-pos button {
  overflow: hidden;
}
[dir="rtl"] .add-pos-row-description {
  float: left;
}
button#pos-draft i, button#pos-cancel i {
  font-size: 24px !important;
}
[dir="rtl"] .actions-pos button:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
}
[dir="rtl"] .actions-pos button:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
}
.pos-header .col-md-10 {
  direction: ltr;
}
.select-modifiers-btn {
  margin: 11px 0 8px;
}
#PINcode {
  text-align: center;
}
table#pos_table {
  font-size: 16px;
}
span#total_payable {
  font-size: 26px;
}
.pos_quantity {
  text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}
.form-group .form-control {
  border-radius: 22px;
  background-color: #f9f9f9;
}
.box-header.with-border {
  border-bottom: none transparent;
}
.white-box {
  background: #fff !important;
  border: none transparent !important;
}
.bootstrap-datetimepicker-widget {
  padding: 0 2% !important;
}
span#select2-product_category-container {
  text-align: center;
}
[label="BREAKFAST"], .category-btn[value="all"], .category-btn[value="31"], .category-btn[value="32"]
, .category-btn[value="33"], .category-btn[value="34"] {
  display: none;
}
#product_list_body .pagination > li > a, #product_list_body .pagination > li > span {
  padding: 10px 25px;
}
.modal.close_register_modal table, div#tab_final .delete-sale, div#tab_final .edit-sale
,option[value="cheque"], option[value="bank_transfer"], option[value="other"], option[value="custom_pay_1"] {
  display: none;
}
div#modal_payment .modal-content {
  padding-left: 25px;
}
button#pos-draft {
  height: 151px;
  font-size: 22px;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background: #eaeaea;
  margin: 2px 0;
}
.pos_quantity {
  min-width: 60px;
}
.product_box .image-container img[src$="img/default.png"] {
  display: none;
}
div.product_box {
  padding: 15px 0;
}

@media (min-width: 768px){
  .pos-screen .col-md-7 .col-md-3, .pos-screen .col-md-9, .pos-screen .col-md-7, .pos-screen .col-md-5 {
    padding: 0;
  }
  .pos-screen .col-md-7 > .col-md-3 {
    padding-left: 10px;
  }
  div.col-md-12 {
    padding: 0 5px;
  }
  div.col-md-7 {
    width: 58.33333333%;
  }
  div.col-md-5 {
    width: 41.66666667%;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  span.select2 {
    width: auto !important;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 992px) {
  span.select2 {
    width: auto !important;
    margin-left: -20px;
  }
  .actions-pos button {
    font-size: 13.5px;
  }
  section.content {
    padding-left: 0;
    padding-right: 0;
  }
  table#pos_table>tbody>tr>td, table#pos_table>tbody>tr>th, table#pos_table>tfoot>tr>td, table#pos_table>tfoot>tr>th, table#pos_table>thead>tr>td, table#pos_table>thead>tr>th {
    padding: 3px;
  }
  .btn-block {
    display: block;
    width: auto!important;
    margin: 10px 10%;
  }
  .vcenter {
    display: block;
    margin-top: 25px;
  }
  .vcenter .col-sm-2 {
    margin-bottom: 20px;
    text-align: center;
  }
  span.select2 {
      width: auto !important;
      margin-left: -20px;
  }
}
